
<!-- Include the header partial -->
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>

    <div class="grid-container">
        <div class="grid-item image-container">
            <img src="images/jess.jpeg" alt="Your Image">
        </div>
        <div class="grid-item text-container">
            <p><span id="jess">Jessica</span> is a passionate second-year student pursuing a diploma in Software Engineering Technology with a focus on Artificial Intelligence. Her journey in this exciting field has led her to discover two primary passions: data analysis and web development.</p><br>
            <p>In the world of data, she finds herself drawn to the intricate patterns and stories hidden within the numbers. Whether it's unraveling insights from complex datasets or crafting data-driven solutions, she thrives on the challenge of making data meaningful. On the flip side, she's equally enamored with web development, where she brings creativity to life through code. Designing interactive and user-friendly web experiences is her forte.</p>
        </div>
    </div>    
    <br>
    <div class="about-me-container">
        <a href="/projects">Learn more about Jessica's Projects</a>
    </div>
</main>

<!-- Include the footer partial -->
<%- include('partials/footer') %>
