
<!-- Include the header partial -->
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <!-- Your Home Page content here -->
    <div class="welcome-container">
        <h1>Welcome to my portfolio!</h1> <br>
        <br>
        <p>Here, you'll find a showcase of my projects and endeavors, reflecting my dedication to both data analysis and web development. Feel free to explore, and don't hesitate to get in touch if you'd like to collaborate or simply discuss the exciting possibilities at the intersection of AI, data, and the web. Thanks for stopping by!</p><br>
        <p class="mission">My mission is to leverage the power of data and technology to drive innovation and create meaningful web experiences that inspire and inform.</p>
    </div>
    <div class="about-me-container">
        <a href="/about">Learn more about Jessica</a>
    </div>
    <br>
</main>

<!-- Include the footer partial -->
<%- include('partials/footer') %>
