
<!-- Include the header partial -->h2<
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <h1> My Projects </h1>

     <!-- Projects Grid -->
     <div class="projects-grid">
        <!-- Project 1 -->
        <div class="project">
            <a href="/images/corez.png"><img src="/images/corez.png" alt="Project 1"></a>
            <div class="project-details">
                <a href="https://github.com/jessherna/corez-car-rentals" target="_blank"><h3>Project 1: Corez Car Rentals Database</h3></a><br>
                <p><strong>My Role:</strong> I managed the whole project, came up with the company requirements and created the database structure.</p>
                <div class="project-description">
                    <h4>Description:</h4>
                    <p>COREZ Car Rentals is a fictitious company that rents out cars to all Canadians. The car rental company has four major system requirements: a customer management system, a car management system, a rental management system, and a payment management system.</p>
                </div>
                <div class="project-outcome">
                    <h4>Outcome:</h4>
                    <p>This project was made to fulfill the requirements of Introduction to Database course. In this regard, I learned: data and relational database modeling, database creation, data manipulation, entity relationship modeling, joining data from multiple tables, single row functions and group functions.</p>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="project">
            <a href="/images/pseudoco.png"><img src="/images/pseudoco.png" alt="Project 2"></a>
            <div class="project-details">
                <a href="https://github.com/jessherna/pseudoco"><h3>Project 2: Datafication of PseudoCo.'s Biscuit Factory Machines</h3></a><br>
                <p><strong>My Role:</strong> In charge of creating black box and loop test flow, database modeling, and programming.</p>
                <div class="project-description">
                    <h4>Description:</h4>
                    <p>A software program that allowed data entry and query using SQLite database module on Python utilizing the Agile software development methodology</p>
                </div>
                <div class="project-outcome">
                    <h4>Outcome:</h4>
                    <p>The software can meet the product owner requirements namely: printing the input, choosing when to display the data, inputting information and running the program continuously. The program may be used for inputting factory information of PseudoCo. factory’s machines from F01 to F03. </p>
                </div>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="project">
            <a href="/images/realty-website.png"><img src="/images/realty-website.png" alt="Project 3"></a>
            <div class="project-details">
                <a href="https://github.com/jessherna/realty-agent-website"><h3>Project 3: Realty Agent Website</h3></a><br>
                <p><strong>My Role:</strong> I am the web designer and developer.</p>
                <div class="project-description">
                    <h4>Description:</h4>
                    <p> The responsive website aims to showcase the properties that are being sold by Arai as a real estate agent.</p>
                </div>
                <div class="project-outcome">
                    <h4>Outcome:</h4>
                    <p>Audience persuasion through picturesque images of home living with complete details and information, 5-star testimonials and appreciation by previous clients, and website colors that are pleasing to the eyes.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Include the footer partial -->
<%- include('partials/footer') %>
