
<!-- Include the header partial -->
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <h1>My Services</h1>

    <ul>
        <ul>
        <li>
            <h3>Website Development</h3>
            <p>Create responsive and user-friendly websites using HTML, CSS, and JavaScript. Customize and maintain existing websites. Develop landing pages, personal portfolios, or e-commerce websites.</p>
        </li>
        <li>
            <h3>Web Application Development</h3>
            <p>Build web applications using front-end and back-end technologies (e.g., React, Node.js, Express). Develop interactive and dynamic web experiences. Implement user authentication and database integration.</p>
        </li>
        <li>
            <h3>Data Cleaning and Preprocessing</h3>
            <p>Clean and preprocess data for analysis. Handle missing data, outliers, and data quality issues.</p>
        </li>
        <li>
            <h3>Data Visualization and Reporting</h3>
            <p>Create interactive dashboards and reports using tools like Tableau or Power BI. Communicate insights through visually appealing charts and graphs.</p>
        </li>
    </ul>
    </ul>
</main>

<!-- Include the footer partial -->
<%- include('partials/footer') %>